---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1 style="font-family: var(--font-display); font-size: 120px;">
			CHALCO
		</h1>
		<p style="font-family: var(--font-mono); color: var(--color-amber);">
			// TEST
		</p>
	</body>
</html>
